In [42]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_excel('news.xlsx', names=['date','text','views'])
df.head(10)

        date                                               text views
0        NaT          ​ВТБ снизил ставки по депозитам для юрлиц   864
1 2018-03-27                                                NaN   NaN
2        NaT  Челябинвестбанк уменьшил ставки по депозитам ю...   356
3 2018-03-26                                                NaN   NaN
4        NaT    Кубаньторгбанк снизил ставки по депозитам юрлиц   420
5 2018-03-23                                                NaN   NaN
6        NaT  Юг-Инвестбанк снизил ставки по депозитам для ю...   461
7        NaT  ​Энергомашбанк изменил ставки по депозитам для...   407
8 2018-03-22                                                NaN   NaN
9        NaT   Запсибкомбанк уменьшил ставки по депозитам юрлиц   550

In [36]:
df['date'].fillna(method='ffill', inplace = True)
df.ix[0, 'date']

Timestamp('2018-03-27 00:00:00')

In [54]:
df.dropna(inplace = True)
df.to_csv('news_final.csv', encoding = 'utf-8')

In [62]:
df.head()

        date                                               text views
0 2018-03-27          ​ВТБ снизил ставки по депозитам для юрлиц   864
2 2018-03-27  Челябинвестбанк уменьшил ставки по депозитам ю...   356
4 2018-03-26    Кубаньторгбанк снизил ставки по депозитам юрлиц   420
6 2018-03-23  Юг-Инвестбанк снизил ставки по депозитам для ю...   461
7 2018-03-23  ​Энергомашбанк изменил ставки по депозитам для...   407